<div class="container marketing mt-4">
  <div class="row">
    {{> sid-purchase}}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <h1>Productos</h1>
      {{#if product}}
      <div class="table-responsive">
        <table class="table table-bordered table-hover" style="background-color: white">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Producto</th>
              <th>Descripción</th>
              <th>Acciones</th>
            </tr>
          </thead>  
          {{#each product}}
            <tbody>
              <tr>
                <td>
                  <a href="#">{{codigo}}</a>
                </td>
                <td>{{nombre}}</td>
                <td>{{detalle}}</td>
                <td>
                  <a href="#" data-toggle="modal" data-target="#modalEditarProducto{{id}}"><i class="fas fa-edit"></i></a>
                  <a href="#"><i class="fas fa-trash"></i></a>
                </td>
              </tr>
            </tbody>

            <div class="modal fade" id="modalEditarProducto{{id}}" tabindex="-1" role="dialog" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalEditarProductoLabel">Editar información de producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <input type="text" name="codigo" class="form-control" value="{{codigo}}">
                      </div>
                      <div class="form-group">
                        <input type="text" name="nombre" class="form-control" value="{{nombre}}">              
                      </div>
                      <div class="form-group">
                        <textarea name="detalle" class="form-control">{{detalle}}</textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </table>

      </div>
      {{else}}
        <div class="row">
          <div class="card mx-auto">
            <div class="card-body">
              <p class="lead">No hay productos para listar.</p>
              <a href="/purchase/product-new" class="btn btn-success btn-block">Registrar un producto.</a>
            </div>
          </div>
        </div>
      {{/if}}
    </main> 
  </div>

</div>